.panel-money-wrapper {
  box-sizing: border-box;
  font-size: 25px;
  border-bottom: var(--DefaultBorder);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.panel-money-input {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex-shrink: 0;
  height: 60px;
  border: 1px rgba(0, 0, 0, 0.202) solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.panel-money-input a {
  font-size: 22px;
  color: var(--InteractionColor);
}

@media only screen and (max-width: 768px) {
  .panel-money-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .panel-money-input {
    font-size: 20px;
  }

  .panel-money-input a {
    font-size: 16px;
  }
}
