.app-wrapper {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
}

.app-content-page-container {
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;

  scrollbar-width: none;
}
